@font-face {
	font-family: "JetBrains Mono";
	font-style: italic;
	font-weight: 100 800;
	font-display: swap;
	src: url(tDbX2o-flEEny0FZhsfKu5WU4xD-CwOnSA.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 100 800;
	font-display: swap;
	src: url(tDbV2o-flEEny0FZhsfKu5WU4xD7OwE.woff2) format("woff2");
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC,
		U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212,
		U+2215, U+FEFF, U+FFFD;
}

:root {
	--accent-color: hsl(0, 40%, 75%);

	background-color: hsl(0, 10%, 12%);
	color: hsl(0, 10%, 90%);
	font-family: "JetBrains Mono", monospace;
}

label {
	display: contents;
}

input {
	border: 0.1rem var(--accent-color) solid;
	border-radius: 0.5rem;
	padding: 0.5rem;
	font-size: inherit;
	font-family: inherit;
}

#processed {
	padding: 2rem 1rem;
	display: grid;
	grid-template-columns: repeat(4, auto);
	justify-content: left;
	gap: min(3rem, 3vw);
}

a {
	color: var(--accent-color);
	&.download {
		cursor: pointer;
		display: flex;
		gap: 0.3rem;
	}
}

main {
	flex: 1;
	.hovered {
		outline: 1rem black solid;
	}
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 1rem;
	gap: 1rem;
}

footer {
	text-align: center;
}
